@import "tailwindcss";

.custom {
  margin: revert !important;
  padding: revert !important;
}

.clear-format {
  margin-top: 40px !important;
  all: revert; 
  box-sizing: border-box;
}

.clear-format * {
  all: revert; 
  box-sizing: border-box;
}

.clear-format img {
  max-width: 700px;
  height: auto;
  display: block;
}